BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100

BreakBeforeBraces: Attach
NamespaceIndentation: None
SeparateDefinitionBlocks: Always

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

PointerAlignment: Left

SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
  - Regex: '^<core/.*>$'
    Priority: 2
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^".*"$'
    Priority: 3